.container {
  margin: 10px;
  width:600px;  
}

h1 {
text-align:center;
}

.addTask {  
  width: 600px;
  padding: 5px;
}

.taskLine {
  margin: 2px;  
}

.footer {
  margin: 2px;
  padding: 5px;
}

button {
  margin: 10px;
}